<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h5 id= 'demo' style ='margin: auto;'></h5>
  </body>
</html>


đây là file em xuất ra trang web hiển thị do em chưa cho dữ liệu vào ứng dụng trên
web cua minh được
